@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hidden {
      -ms-overflow-style: none;
      scrollbar-width: none;
}
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.box-shadow {
  box-shadow: 30px 30px 30px grey !important;
}

.logo {
  width: clamp(15%, 3vw, 100%);
}

.footer {
  background-image: url('../assets/images/footer_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}